.Button {
    text-align: center;
    height: 50px;
    background-color: #dfdfdf;
    border-radius: 10px;
    margin: 2px;
    flex: 1 1 15%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}