.Calculator {
    border: 1px solid gray;
    border-radius: 0 0 10px 10px;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.Calculator .calc-section {
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
}

.Calculator .numbers-container {
    flex-direction: column;
}

.Calculator .numbers-row {
    display: flex;
    justify-content: space-between;
}

.Calculator .ops-container {
    flex-direction: column;
}

.Calculator .ops-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}